*{
    margin:0px;
    padding:0px;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.div1{
  width:350px;
  margin:auto;
  margin:10 0 0 450px;
  overflow: hidden;
  padding:70px;
  background-color: #003300;
}
h2{
  text-align: center;
  padding:35px;
  color:#003300;
}
label{
  color:white;
  padding-left: 10px;
}
.inputText{
  width:200px;
  height:30px;
  border:none;
  border-radius:2px;
  padding-left: 8px;

}
